{% extends "gobar_page.html" %}

{% block subtitle %} - {{ gettext('Error %(error_code)s', error_code=c.code[0]) }}{% endblock %}

{% block content %}

<div id="expired-key">
    <div id="expired-key-content">
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="/img/pantalla-error-link-expirado.svg">
                        <p class="expired-key-title">Spent too much time and this link does not work anymore</p>
                        <p class="expired-key-desc">Please contact the administrator so that you can create a new password..</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
