{% extends "user/user_config_base.html" %}

{% block config %}
    <div id="user-config-create-users">
        <h1>Create Users</h1>
        <h2 class="blue">Administrator</h2>
        <p class="role-description with-bottom-margin">
            You can create users, edit the general settings of the portal; create, update and delete all data sets; and manage issues and organizations.
        </p>

        <div class="create-section admin">
            <h2>Username</h2>
            <div class="can-have-feedback-img username-feedback">
                <input name="username" type="text" title="Username" placeholder="For example: johnsmith" maxlength="10">
            </div>
            <p class="username-restriction">Maximum 10 characters.</p>

            <h2>Full Name</h2>
            <div class="can-have-feedback-img fullname-feedback">
                <input name="fullname" type="text" title="Full Name" placeholder="For Example, John Smith">
            </div>

            <h2>E-mail</h2>
            <div class="can-have-feedback-img">
                <input name="email" type="text" title="E-mail" placeholder="john.smith@gmail.com">
            </div>
            <button class="btn btn-blue save-new-user">
                CREATE NEW ADMIN USER
            </button>
        </div>

        <hr class="before-list">

        <div class="create-section user">
            <h2 class="blue">Colaborator</h2>
            <p class="role-description with-bottom-margin">
                You can create, update, and delete datasets only from the organization you have access to.
            </p>

            <h2>Username</h2>
            <div class="can-have-feedback-img username-feedback">
                <input name="username" type="text" title="Username" placeholder="For Example, johnsmith" maxlength="10">
            </div>
            <p class="username-restriction">Maximum 10 characters.</p>

            <h2>Full Name</h2>
            <div class="can-have-feedback-img fullname-feedback">
                <input name="fullname" type="text" title="fullname" placeholder="For Example, John Smith">
            </div>

            <h2>E-mail</h2>
            <div class="can-have-feedback-img">
                <input name="email" type="text" title="E-mail" placeholder="john.smith@gmail.com">
            </div>


            <h2>Organization</h2>
            <div class="can-have-feedback-img">
                    {% import 'user/snippets/organization_selector.html' as organization_selector %}
                    {% set organizations_tree = h.organization_tree() %}
                    {{ organization_selector.organization_selector(organizations_tree) }}
            </div>
            <button class="btn btn-blue save-new-user">
                CREATE NEW COLLABORATOR
            </button>
        </div>

        <hr class="before-list">

        <div class="user-list admin-users">
            <h2 class="blue user-list-title">Administrators</h2>
            <div class="users">
                {% for admin_user in admin_users %}
                    <div class="user">
                        <div class="user-editable">
                            {% snippet "svg/user-logo.svg" %}
                            <p class="username">
                                {{ admin_user.name }}
                                {% snippet "svg/edit.svg" %}
                            </p>
                            <p class="fullname">
                                {{ admin_user.fullname or '' }}
                            </p>
                            <p class="email">
                                {{ admin_user.email or '' }}
                            </p>
                        </div>
                        {% snippet "user/snippets/edit_form.html", user=admin_user, organizations_tree=organizations_tree, organization_selector=organization_selector, organizations_and_users=organizations_and_users %}
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if normal_users|length > 0 %}
            <div class="user-list normal-users">
                <h2 class="blue user-list-title">Colaborators</h2>
                <div class="users">
                    {% for normal_user in normal_users %}
                        <div class="user">
                            <div class="user-editable">
                                {% snippet "svg/user-logo.svg" %}
                                <p class="username">
                                    {{ normal_user.name }}
                                    {% snippet "svg/edit.svg" %}
                                </p>
                                <p class="fullname">
                                    {{ normal_user.fullname or '' }}
                                </p>
                                <p class="email">
                                    {{ normal_user.email or '' }}
                                </p>
                            </div>
                            {% snippet "user/snippets/edit_form.html", user=normal_user, organizations_tree=organizations_tree, organization_selector=organization_selector, organizations_and_users=organizations_and_users %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if orphan_users|length > 0 %}
            <hr>
            <h2 class="blue user-list-title orphan-list-title">Collaborators without associated organizations</h2>
            <p class="orphan-list-description">
                These users no longer have permissions to create, update, and delete datasets. You can associate them with new organizations or delete them.
            </p>
            <div class="user-list orphan-users">
                <div class="users">
                    {% for orphan_user in orphan_users %}
                        <div class="user">
                            <div class="user-editable">
                                {% snippet "svg/user-logo.svg" %}
                                <p class="username">
                                    {{ orphan_user.name }}
                                    {% snippet "svg/edit.svg" %}
                                </p>
                                <p class="fullname">
                                    {{ orphan_user.fullname or '' }}
                                </p>
                                <p class="email">
                                    {{ orphan_user.email or '' }}
                                </p>
                            </div>
                            {% snippet "user/snippets/edit_form.html", user=orphan_user, organizations_tree=organizations_tree, organization_selector=organization_selector, organizations_and_users=organizations_and_users %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>

    {% resource 'gobar_js/user_config/user_commons.js' %}
    {% resource 'gobar_js/user_config/create_users.js' %}
    {% resource 'gobar_js/user_config/multiple-select.js' %}
{% endblock %}
