{% import 'macros/form.html' as form %}

{% set username_error = true if error_summary %}
{% set password_error = true if error_summary %}

<form action="{{ action }}" method="post" class="form-horizontal">
  {{ form.errors(errors=error_summary) }}

  {{ form.input('login', label='User', id='field-login', value="", error=username_error) }}

  {{ form.input('password', label='Password', id='field-password', type="password", value="", error=password_error) }}

  {% if login_error %}
    <p class="error">
        We did not find any users with that username and password combination
    </p>
  {% endif %}

  {{ form.checkbox('remember', label='Remember Me', id='field-remember', checked=true, value="63072000") }}

  <div class="form-actions">
    {% block login_button %}
        <button type="submit">LOGIN</button>
    {% endblock %}
  </div>

  <p class="password-reset">
      <a href="#" id="password-reset-show-modal">Forgot Password</a>
  </p>
</form>
